.icon-row {
    display: flex;            /* place buttons side by side */
    justify-content: center;  /* center them horizontally */
    gap: 1rem;                /* space between buttons */
    margin-top: 1rem;
}

.icon-button {
    bottom: 30px;
    right: 30px;

    display: flex;
    justify-content: center;
    align-content: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;

    background-color: transparent;
    color: black;   /* text */
    font-size: 4.5rem;
    text-align: center;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.icon-button:hover {
    background-color: transparent;
    /* transform: scale(1.1) translateY(-10px); */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

.tracker-container {
    border: none;
    padding: 15px;
    border-radius: 8px;
    background-color: #e1e9f2;
    margin-bottom: 20px;
}

.tracker-container h3 {
    color: "dark gray";
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}