# This workflow will: ... 

name: CI testing

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup/node@v3
              with:
                node-version: 22.x
            - run: npm ci
            - run: npm run -w express-backend lint
            - run: npm run -w react-frontend lint
            - run: npm run -w react-frontend build
            - run: npm run test